html{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f3f5fc;
}

#izquierda{
    position: absolute;
    width: 200px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

#logo{
    position: relative;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#central{
    position: absolute;
    width: 760px;
    height: 1024px;
    left: 200px;
    top: 0px;
}

#mensaje{
    position: absolute;
    background: none;   /*vuelve el fondo de la textarea transparente*/
    border: none;       /*quita el borde de la textarea*/
    outline: none;      /*quita el borde que se remarca al dar click dentro de la textarea*/
    resize: none;       /*quita la opción de cambiar el tamaño de la textarea y desaparece el triángulo de la esquina inferior derecha*/
    left: 40px;
    top: 168px;
    color: #0a3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

#mensaje::placeholder{
    color:#0a3871;
}

.advertencia{
    position: absolute;
    color: #495057;
    font-size: 12px;
    top: 850px;
    left: 40px;
}
#admiracion{
    background-color: #495057;
    color: white;
    font-weight: 500;
    padding: 0 6px;
    border-radius: 8px;
}


#encriptar{
    position: absolute;
    width: 328px;
    height: 67px;
    left: 40px;
    top: 885px;
    border-style: hidden;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    transition: 0.5s all;
    cursor: pointer;
}

#encriptar:hover{
    background-color: #356ea9;
}

#desencriptar{
    position: absolute;
    width: 328px;
    height: 67px;
    left: 392px;
    top: 885px;
    color:#0a3871;
    background-color: #d8dfe8;
    border: 1px;
    border-radius: 24px;
    border-color: #0a3871;
    border-style:outset;
    transition: 0.5s all;
    cursor: pointer;    
}

#desencriptar:hover{
    background-color: #f3f5fc;
}

#derecha{
    background-color: white;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
   
}

#muneco{
    position: relative;
    width: 336px;
    height: 304px;
    left: 40px;
    top: 243px;
}

.text1{
    position: absolute;
    color: #343a40;
    width: 336px;
    left: 32px;
    top: 579px;
    font-family: 'inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.text2{
    position: absolute;
    background-color: white;
    color: #495057;
    width: 336px;
    left: 32px;
    top: 653px;
    font-family: 'inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

#copiar{
    position: absolute;
    background: none;
    display: none;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;
    color:#0a3871;
    border: 1px;
    border-radius: 24px;
    border-color: #0a3871;
    border-style:outset;
    transition: 0.5s all;
    cursor: pointer;    
}

#copiar:hover{
    background-color: #f3f5fc;
}


#textofinal{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    padding: 32px;
    color:#0a3871;
}


@media screen and (max-width:820px){

    body{
        padding-bottom: 40px;
    }

    #izquiera{
        width: 768px;
        height: auto;
    }

    #logo{
        top: 80px;
    }

    #central{
        left: 0px;
        top: 100px;
        width: 768px;
        height: auto;
    }

    #derecha{
        position: relative;
        left: 40px;
        top: 1150px;
        width: 688px;
        height: auto;
        
    }

    #muneco{
        display: none;
    }

    .text1{
        position: relative;
        top: auto;
        left: 0px;
        width: auto;
        margin: 10px 10px 20px;
    }

    .text2{
        position: relative;
        top: auto;
        left: 0px;
        width: auto;
    }

    #copiar{
        position: relative;
        top: auto;
        left: 40px;
        width: 608px;
    }
}

@media screen and (max-width:414px){

    body{
        padding-bottom: 40px;
    }

    #izquiera{
        width: 360px;
        height: auto;
    }

    #logo{
        top: 40px;
    }

    #central{
        left: 0px;
        top: 100px;
        width: 360px;
        height: auto;
    }

    #mensaje{
        width: 360px;
        left: 20px;
    }

    #encriptar{
        display: block;
        position: absolute;
        width: 320px;
        height: 67px;
        left: 20px;
        top: 885px;  
    }

    #desencriptar{
        display: block;
        position: relative;
        width: 320px;
        height: 67px;
        left: 20px;
        top: 992px;
    }

    #derecha{
        position: relative;
        left: 20px;
        top: 1200px;
        width: 320px;
        height: auto;
        
    }

    #muneco{
        display: none;
    }

    .text1{
        position: relative;
        top: auto;
        left: 0px;
        width: auto;
        margin: 10px 10px 20px;
    }

    .text2{
        position: relative;
        top: auto;
        left: 0px;
        width: auto;
    }

    #copiar{
        position: relative;
        top: auto;
        left: 10px;
        width: 300px;
    }
}